
/* ------------------------------------------------------------------------------
*
*  # Floating labels
*
*  Styles for custom Floating Labels extensions
*
* ---------------------------------------------------------------------------- */
.form-group-float-label {
  position: relative;
  top: 0.5rem;
  opacity: 0; }
  .form-group-float-label.is-visible {
    top: 0;
    opacity: 1; }
  .form-group-float-label.animate {
    transition: all linear 0.15s; }
    @media screen and (prefers-reduced-motion: reduce) {
      .form-group-float-label.animate {
        transition: none; } }
