
/* ------------------------------------------------------------------------------
*
*  # Google Maps overrides
*
*  Override Google Maps default styles
*
* ---------------------------------------------------------------------------- */
.map-container {
  height: 500px; }

.gm-style {
  font-size: 0.8125rem; }
  .gm-style .gm-style-iw {
    font-size: 0.8125rem;
    font-weight: 400; }
