
/* ------------------------------------------------------------------------------
*
*  # PNotify notifications
*
*  Styles for pnotify.min.js - a flexible JavaScript notification plugin
*
* ---------------------------------------------------------------------------- */
.ui-pnotify {
  top: 1.25rem;
  right: 1.25rem;
  position: absolute;
  height: auto;
  z-index: 2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0.1875rem; }
  body > .ui-pnotify {
    position: fixed;
    z-index: 1070; }
  .ui-pnotify.alert-rounded > .ui-pnotify-container {
    border-radius: 100px; }
  .ui-pnotify[class*=bg-] > .ui-pnotify-container {
    background-color: inherit;
    border-color: transparent;
    color: #fff; }
  .ui-pnotify[class*=text-] > .ui-pnotify-container,
  .ui-pnotify[class*=alpha-] > .ui-pnotify-container {
    background-color: inherit;
    border-color: inherit;
    color: inherit; }
  .ui-pnotify.stack-top-left, .ui-pnotify.stack-bottom-left {
    left: 1.25rem;
    right: auto; }
  .ui-pnotify.stack-bottom-right, .ui-pnotify.stack-bottom-left {
    bottom: 1.25rem;
    top: auto; }
  .ui-pnotify.stack-modal {
    left: 50%;
    right: auto;
    margin-left: -10rem; }
  .ui-pnotify.stack-custom-right {
    top: auto;
    left: auto;
    bottom: 15rem;
    right: 15rem; }
  .ui-pnotify.stack-custom-left {
    top: 15rem;
    left: 15rem;
    right: auto;
    bottom: auto; }
  .ui-pnotify.stack-custom-top {
    right: 0;
    left: 0;
    top: 0; }
  .ui-pnotify.stack-custom-bottom {
    right: 0;
    left: 0;
    bottom: 0;
    top: auto; }
  .ui-pnotify.ui-pnotify-in {
    display: block !important; }
  .ui-pnotify.ui-pnotify-move {
    transition: left .5s ease, top .5s ease, right .5s ease, bottom .5s ease; }
  .ui-pnotify.ui-pnotify-fade-slow {
    opacity: 0;
    transition: opacity linear 0.6s; }
    .ui-pnotify.ui-pnotify-fade-slow.ui-pnotify.ui-pnotify-move {
      transition: opacity .6s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease; }
  .ui-pnotify.ui-pnotify-fade-normal {
    opacity: 0;
    transition: opacity linear 0.4s; }
    .ui-pnotify.ui-pnotify-fade-normal.ui-pnotify.ui-pnotify-move {
      transition: opacity .4s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease; }
  .ui-pnotify.ui-pnotify-fade-fast {
    transition: opacity .2s linear;
    opacity: 0; }
    .ui-pnotify.ui-pnotify-fade-fast.ui-pnotify.ui-pnotify-move {
      transition: opacity .2s linear, left .5s ease, top .5s ease, right .5s ease, bottom .5s ease; }
  .ui-pnotify.ui-pnotify-fade-in {
    opacity: 1; }

.ui-pnotify-container {
  padding: 0.9375rem 1.25rem;
  height: 100%;
  position: relative;
  left: 0;
  margin: 0;
  border-radius: 0.1875rem; }
  .ui-pnotify-container::after {
    display: block;
    clear: both;
    content: ""; }
  .ui-pnotify-container.ui-pnotify-sharp {
    border-radius: 0; }

.ui-pnotify-title {
  display: block;
  margin-top: 0;
  margin-bottom: 0.3125rem;
  font-size: 0.9375rem; }

.ui-pnotify-text {
  display: block; }

.ui-pnotify-icon {
  display: block;
  float: left;
  line-height: 1; }
  .ui-pnotify-icon > [class^=icon-] {
    margin-top: 0.25003rem;
    margin-right: 0.625rem; }

.ui-pnotify-closer,
.ui-pnotify-sticker {
  float: right;
  margin-left: 0.625rem;
  margin-top: 0.25003rem;
  line-height: 1;
  outline: 0; }

.ui-pnotify-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%; }
  body > .ui-pnotify-modal-overlay {
    position: fixed;
    z-index: 1040; }

.brighttheme {
  border: 1px solid; }
  .ui-pnotify[class*=bg-] > .brighttheme {
    background-color: inherit;
    border-color: inherit;
    color: inherit; }

.brighttheme-notice {
  background-color: #FFF3E0;
  border-color: #FF9800;
  color: #BF360C; }

.brighttheme-info {
  background-color: #E1F5FE;
  border-color: #03A9F4;
  color: #01579B; }

.brighttheme-success {
  background-color: #E8F5E9;
  border-color: #4CAF50;
  color: #1B5E20; }

.brighttheme-error {
  background-color: #FFEBEE;
  border-color: #F44336;
  color: #B71C1C; }

.brighttheme-icon-closer,
.brighttheme-icon-sticker {
  position: relative;
  display: inline-block;
  outline: 0;
  width: 0.75rem;
  height: 0.75rem; }
  .brighttheme-icon-closer:after,
  .brighttheme-icon-sticker:after {
    content: '';
    font-family: "icomoon";
    font-size: 0.75rem;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.brighttheme-icon-closer:after {
  content: "\ed6a"; }

.brighttheme-icon-sticker:after {
  content: "\ee70"; }

.brighttheme-icon-sticker.brighttheme-icon-stuck:after {
  content: "\ee75"; }

.ui-pnotify[class*=alert-styled-] {
  border-width: 0;
  padding: 0; }

.ui-pnotify.alert-styled-left .brighttheme {
  border-left-width: 2.875rem; }

.ui-pnotify.alert-styled-left:after {
  left: 0; }

.ui-pnotify.alert-styled-right .brighttheme {
  border-right-width: 2.875rem; }

.ui-pnotify.alert-styled-right:after {
  right: 0; }

.brighttheme .ui-pnotify-action-bar textarea,
.brighttheme .ui-pnotify-action-bar input {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  background-color: transparent;
  margin-bottom: 1.25rem !important;
  color: #333;
  padding: 0.5rem 0;
  outline: 0; }
  .ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea, .ui-pnotify[class*=bg-]
  .brighttheme .ui-pnotify-action-bar input {
    border-color: transparent;
    color: #fff; }
    .ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea::-webkit-input-placeholder, .ui-pnotify[class*=bg-]
    .brighttheme .ui-pnotify-action-bar input::-webkit-input-placeholder {
      color: #fff;
      opacity: 1; }
    .ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea::-moz-placeholder, .ui-pnotify[class*=bg-]
    .brighttheme .ui-pnotify-action-bar input::-moz-placeholder {
      color: #fff;
      opacity: 1; }
    .ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea:-ms-input-placeholder, .ui-pnotify[class*=bg-]
    .brighttheme .ui-pnotify-action-bar input:-ms-input-placeholder {
      color: #fff;
      opacity: 1; }
    .ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea::-ms-input-placeholder, .ui-pnotify[class*=bg-]
    .brighttheme .ui-pnotify-action-bar input::-ms-input-placeholder {
      color: #fff;
      opacity: 1; }
    .ui-pnotify[class*=bg-] .brighttheme .ui-pnotify-action-bar textarea::placeholder, .ui-pnotify[class*=bg-]
    .brighttheme .ui-pnotify-action-bar input::placeholder {
      color: #fff;
      opacity: 1; }

.ui-pnotify-history-container {
  position: absolute;
  top: 0;
  right: 1.25rem;
  border-top: none;
  padding: 0;
  z-index: 1070;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  .ui-pnotify-history-container.ui-pnotify-history-fixed {
    position: fixed; }
  .ui-pnotify-history-container .ui-pnotify-history-header {
    text-align: center;
    margin-bottom: 0.3125rem; }
  .ui-pnotify-history-container button {
    cursor: pointer;
    display: block;
    width: 100%; }
  .ui-pnotify-history-container .ui-pnotify-history-pulldown {
    display: block;
    margin: 0 auto; }

@media (max-width: 767.98px) {
  .ui-pnotify-mobile-able.ui-pnotify {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: auto !important;
    font-smoothing: antialiased; }
    .ui-pnotify-mobile-able.ui-pnotify .ui-pnotify-shadow {
      border-bottom-width: 5px;
      box-shadow: none; }
    .ui-pnotify-mobile-able.ui-pnotify.stack-top-left, .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left {
      left: 0;
      right: 0; }
    .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-right, .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left {
      left: 0;
      right: 0;
      bottom: 0;
      top: auto; }
      .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-right .ui-pnotify-shadow,
      .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-right .ui-pnotify-shadow, .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left .ui-pnotify-shadow,
      .ui-pnotify-mobile-able.ui-pnotify.stack-bottom-left .ui-pnotify-shadow {
        border-top-width: 5px;
        border-bottom-width: 1px; }
    .ui-pnotify-mobile-able.ui-pnotify.ui-pnotify-nonblock-fade {
      opacity: 0.2; }
    .ui-pnotify-mobile-able.ui-pnotify.ui-pnotify-nonblock-hide {
      display: none !important; }
  .ui-pnotify-mobile-able .ui-pnotify-container {
    border-radius: 0; } }
