
/* ------------------------------------------------------------------------------
*
*  # Form Validation
*
*  Styles for validate.min.js - jQuery plugin for simple clientside form validation
*
* ---------------------------------------------------------------------------- */
.validation-invalid-label,
.validation-valid-label {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  color: #F44336;
  position: relative;
  padding-left: 1.625rem; }

.validation-valid-label {
  color: #4CAF50; }

.validation-invalid-label:before,
.validation-valid-label:before {
  font-family: "icomoon";
  font-size: 1rem;
  position: absolute;
  top: 0.12502rem;
  left: 0;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.validation-invalid-label:empty,
.validation-valid-label:empty {
  display: none; }

.validation-invalid-label:before {
  content: '\ed63'; }

.validation-valid-label:before {
  content: '\ee73'; }
